<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Select a Mad Libs Form!</h1>
    
     <a href="/form" class="Button">A day in class story</a>
     <br>
     <a href="/form2" class="Button">A day off</a>
     
    </form>
  </body>
</html>